.menu {
    float: left;
    background-color: aquamarine;
    width: 30%;
    padding: 5px;
    margin-right: 2px;
    border-radius: 10px;
    border: 3px gray solid;
    font-size: 25px;
    height: 50px;
    text-align: center;
    transition: background-color 2s, height 2s;
}

.menu:hover {
    background-color: red;
    height: 100px;
}